.wrapper {
  margin-top: 16px;
  display: flex;
  gap: 24px;
}

.poster {
  width: 300px;
  height: 450px;
}

.details {
  display: flex;
  flex-direction: column;

  gap: 4px;
  background-color: #fad5a5;
  padding: 16px;
  border-radius: 12px;
}
.list {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  list-style-type: none;
}
.addItems {
  display: flex;
  padding: 10px 20px;
  text-decoration: none;
  color: var(--white);
  background-color: var(--main-green);
  border: 1px solid var(--light-green);
  border-radius: 8px;
  transition: all 0.3s;
}
.active {
  color: var(--dark-green);
  background-color: var(--main-yellow);
  border: 1px solid var(--main-green);
}
